body {
    background: linear-gradient(rgb(115, 84, 228), rgb(208, 127, 255));
    text-align: center;
}
button{
    text-align: center;
    font-size: 16px;
    background-color:darkblue;
    color: white;
}